<div class="form-container">
    <form [formGroup]="credentialsForm" (ngSubmit)="onAddItem()">    
      <mat-form-field style="margin-bottom: -1.25em" appearance="fill" color="accent" required >
        <mat-label>Item name</mat-label>
        <input formControlName="name" matInput>
        <mat-error *ngIf="!credentialsForm.value.name">Name field cannot be empty!</mat-error>
      </mat-form-field>
      <mat-form-field style="margin-bottom: -1.25em" appearance="fill"  color="accent" required >
        <mat-label>Quantity</mat-label>
        <input formControlName="quantity" type="number" min="0" max="10" matInput>
        <mat-error *ngIf="!credentialsForm.value.quantity">Quantity field cannot be empty!</mat-error>
        <mat-error *ngIf="credentialsForm.value.quantity && (credentialsForm.value.quantity < 1 || credentialsForm.value.quantity > 10)">Pick a number from 1 to 10!</mat-error>
      </mat-form-field>
      <button mat-raised-button color="accent" type="submit">add</button>
    </form>
</div>